 .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  /* Media query for tablets (768px to 1024px) */
  @media (max-width: 1024px) {
    .container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet */
      gap: 15px;
    }
  }
  
  /* Media query for mobile (up to 767px) */
  @media (max-width: 767px) {
    .container {
      grid-template-columns: 1fr; /* 1 column on mobile */
      gap: 10px;
    }
  }

  .container-file {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  /* Media query for tablets (768px to 1024px) */
  @media (max-width: 1024px) {
    .container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet */
      gap: 15px;
    }
  }
  
  /* Media query for mobile (up to 767px) */
  @media (max-width: 767px) {
    .container {
      grid-template-columns: 1fr; /* 1 column on mobile */
      gap: 10px;
    }
  }

